name: Lint, test, deploy pipeline
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout
      - name: Install dependencies
        run: npm ci
      - name: Run lint
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repository
        uses: actions/checkout
      - name: Install dependencies
        runs: npm ci
      - name: Run tests
        runs: npm run test
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repository
        uses: actions/checkout
      - name: Install dependencies
        runs: npm ci
      - name: Build project
        runs: npm run build
      - name: Deploy project
        runs: echo "Deploying project... Success"
      
