name: Output event detail
on: 
  issues: 
    types: [opened]
  workflow_dispatch:
jobs:
  output:
    runs-on: ubuntu-latest
    steps:
      - name: Output github context
        run: |
          echo "${{ github.event.issue.title }}"
          echo "${{ github.event.issue.body }}"